* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 14;
}

p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 110vh;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  background-color: #f7f8fa;
}

.header nav {
  padding: 0;
}

.navbar {
  transition: all 0.4s;

  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 40%, rgba(106, 175, 8, 1) 70%);
  /* clip-path: polygon(30% 0, 100% 0, 100% 1%, 100% 100%, 40% 99%); */
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: rgba(106, 175, 8, 1);
  height: 100%;
}

.navbar .nav-logo {
  height: 100%;
  width: 30%;
  background-color: rgb(255, 255, 255);
  z-index: 3;
}

.navbar .nav-list {
  width: 80%;
  position: relative;
  background-color: rgba(106, 175, 8, 1);
}

.navbar .skew30 {
  position: absolute;
  top: 0;
  bottom: auto;
  background-color: #ffffff;
  left: -50px;
  width: 10%;
  height: 100%;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
  -ms-transform: skew(30deg);
  transform: skew(30deg);
  z-index: 1;
}

/* Change navbar styling on scroll */
.navbar.active {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #fff;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #555;
  }
}

.text-small {
  font-size: 0.9rem !important;
}

/* Back to top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 43px;
  z-index: 99;
  font-size: 18px;
  border: 3px solid #285430;
  outline: none;
  background-color: #222222;
  color: white;
  cursor: pointer;
  padding: 8px 10px;
  line-height: 1;
  text-align: center;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.slide {
  width: 100vw;
  height: 680px;
  font-size: 32px;
}

/* .slide .carousel,
.carousel-inner,
.carousel-item,
.bg-slide {
  width: 100%;
  height: 100vh;
} */
/* .slide .bg-slide {
  
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
} */

/* .slide .bg-slide .img-slide{
  width: 100vw;
  height: 100vh;
  transform: scale(125%);
} */

.carousel-control-next,
.carousel-control-prev {
  width: 5% !important;
}

.intro {
  width: 100vw;
  text-align: center;
}

.product {
  width: 100vw;
  /* padding-bottom: 20%; */
  /* height: 100vh; */
  /* background-color: red; */
  /* background-image: url("../asset/bg-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-attachment: fixed; */
}

.team {
  width: 100vw;
  text-align: center;
}

/* Agents  */
/* .agents h1 {
  font-size: 3.5rem;
  font-weight: 500;
}
.agents__content {
  display: flex;
  margin: 3rem 0;
}
.agents__content__item img {
  width: 100%;
}
.agents__content__item {
  width: 25%;
  padding: 1rem;
}
.agents__content__info h2 {
  padding: 0.312rem 0;
  font-size: 1.5rem;
  color: #00cdce;
}
.agents__content__info p {
  line-height: 0px;
}
.agents__content__info {
  width: 100%;
  color: #efefef;
  background-color: #464343;
}
.agents__content__info i {
  width: 2.125rem;
  height: 2.125rem;
  border: 0.125rem solid white;
  line-height: 2rem;
  margin: 0.625rem;
}
.agents__content__item:hover .agents__content__info h2 {
  color: #ffffff;
}
.agents__content__info .fa-facebook-f:hover {
  background-color: #337ab7;
}
.agents__content__info .fa-twitter:hover {
  background-color: #55acee;
}
.agents__content__info .fa-wifi:hover {
  background-color: #f26522;
} */
/* and team */

.outProject {
  background-color: #d6e4e5;
  width: 100vw;
  text-align: center;
}

.lateBlogPost {
  /* background-color: #debace; */
  width: 100vw;
  /* height: 100vh; */
  text-align: center;
}

/* contact */
.contact {
  background-image: url(https://gardencare.w3itexperts.com/xhtml/images/background/bg7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 760px;

  width: 100vw;
  text-align: center;
}

.section-full {
  position: relative;
}

.p-b40 {
  padding-bottom: 40px;
}

.p-t70 {
  padding-top: 70px;
}

.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.btn-group-vertical>.btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
  clear: both;
}

.mack-an-appointment {
  position: relative;
  z-index: 11;
}

.bg-white {
  background-color: #fff;
}

.m-t40 {
  margin-top: 40px;
}

.p-lr60 {
  padding-left: 60px;
  padding-right: 60px;
}

.p-b40 {
  padding-bottom: 40px;
}

.p-t50 {
  padding-top: 50px;
}

.mack-an-appointment .section-head {
  margin-bottom: 20px;
}

.contact .text-primary {
  color: #6aaf08 !important;
}

/* ourTestimonials */
.ourTestimonials {
  width: 100vw;
  /* height: 100vh; */
  text-align: center;
}

.testimonial-5 {
  background-color: #f5f5f5;
  text-align: center;
  padding: 0 15px 15px;
  border-width: 1px 1px 3px;
  border-style: solid;
  border-color: #dfdfdf #dfdfdf #8dc141;
}

.m-t50 {
  margin-top: 50px;
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.testimonial-5 .testimonial-pic {
  margin: -50px auto 0;
  display: block;
}

.testimonial-pic.shadow {
  -webkit-box-shadow: 2px 3px 6px -3px rgb(0 0 0 / 35%);
  -moz-box-shadow: 2px 3px 6px -3px rgba(0, 0, 0, 0.35);
  box-shadow: 2px 3px 6px -3px rgb(0 0 0 / 35%);
}

.testimonial-pic.radius {
  border-radius: 100%;
  -webkit-border-radius: 100%;
}

.testimonial-pic {
  background: #fff;
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  border: 5px solid #fff;
}

.testimonial-pic.radius img {
  width: 100%;
  height: 100;
  border-radius: 100%;
  -webkit-border-radius: 100%;
}

.owl-carousel .owl-item img {
  transform-style: inherit;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.testimonial-text {
  padding: 15px;
  position: relative;
}

.rdx-separator-outer {
  overflow: hidden;
}

.rdx-separator.style-liner {
  width: 20px;
}

.rdx-separator {
  display: inline-block;
  height: 3px;
  width: 50px;
  margin-bottom: 20px;
  position: relative;
}

.bg-primary {
  color: #fff;
  background-color: #6aaf08 !important;
}

.testimonial-detail {
  padding: 5px;
}

.testimonial-5 .testimonial-name {
  margin-bottom: 5px;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
}

.testimonial-name,
.testimonial-position {
  display: block;
}

strong {
  font-weight: 600;
}

.testimonial-position {
  font-style: italic;
}

.testimonial-name,
.testimonial-position {
  display: block;
}

.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}

/* .owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
    background: #2caae1;
} */

.owl-carousel .item {
  text-align: center;
}

.owl-carousel .nav-btn {
  font-size: 20px;
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 150px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  /* background: url(nav-icon.png) no-repeat scroll 0 0; */
  left: -33px;
}

.owl-carousel .next-slide {
  /* background: url(nav-icon.png) no-repeat scroll -24px 0px; */
  right: -33px;
}

.owl-carousel .prev-slide:hover {
  color: #6aaf08;
}

.owl-carousel .next-slide:hover {
  color: #6aaf08;
}

span.img-text {
  text-decoration: none;
  outline: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  cursor: pointer;
  width: 100%;
  font-size: 23px;
  display: block;
  text-transform: capitalize;
}

span.img-text:hover {
  color: #2caae1;
}

.ourTestimonials .section-head {
  margin-bottom: 50px;
}

.h2 {
  font-family: "Roboto Slab", serif;
  color: #2e1e13;
  font-size: 38px;
  line-height: 38px;
  margin-bottom: 5px;
  font-weight: 700;
}

.ourTestimonials .border-dark.rdx-separator,
.border-white.rdx-separator {
  width: 35px;
  position: relative;
}

.ourTestimonials .rdx-separator.style-icon {
  width: 30px;
  height: auto;
  text-align: center;
  font-size: 20px;
}

.border-dark.rdx-separator[class*="style-"]::after,
.border-dark.rdx-separator[class*="style-"]::before {
  background-color: #2e1e13;
}

.rdx-separator[class*="style-"]:after,
.rdx-separator[class*="style-"]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 250px;
  width: 100px;
  height: 2px;
  background: #eee;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.rdx-separator[class*="style-"]:before {
  left: auto;
  right: 250px;
}

.text-center.section-head p {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.ourTestimonials .section-head p {
  padding-top: 10px;
  font-size: 14px;
  color: #494949;
  line-height: 24px;
  margin-bottom: 24px;
}

/* Number */
.number {
  background-color: #7abf18;
  width: 100vw;
}

.number__content {
  flex-wrap: wrap;
}

.number h1 {
  font-size: 3.5rem;
}

.number__item {
  font-size: 2rem;
  color: #ffff;
}

.number__item p:last-child {
  /* color: black; */
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  opacity: 0.8;
}

.number__item {
  width: 25%;
}

.number__item .border-icon {
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: table;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
}

.number__content .border-icon .icon-cell {
  display: table-cell;
  vertical-align: middle;
}

.number__content .border-icon .icon-cell span i {
  font-weight: 400;
}

.number__content .counter {
  font-weight: 600;
}

.number__item p:first-child {
  font-size: 2.5rem;
}

.number__item p:last-child {}

.company-stats-worker {
  bottom: 0px;
  position: absolute;
  right: 0;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

#footer {
  background: #222222 !important;
  width: 100vw;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
  padding-top: 60px;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}

#footer ul.social li a:hover {
  color: #eeeeee;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

.icon-bx-wraper {
  text-align: center !important;
  min-height: 150px;
}

.icon-content {
  margin-top: 30px;
}
.p-a10 {
  min-height: unset;
}

.program {
  margin-left: 60px !important;
}